#Day2
Data types, Numbers, Opeartions, Type Conversion, f-Strings

#Data Types

#Strings
Subscripting: count starts from 0

In [ ]:
x = "Hello"
print(x[4])
print("123" + "258")

o
123258

#Integer
In order to declare an Integer, just write the number without anything else.
You can use underscore for beter visulization

In [ ]:
print(123+258)
print(123_456)

381
123456

#Float
The syntax is dot.

In [ ]:
print(3.14)

3.14

#Boolean
Just tow possible values: True(1) or False(0)

#Type
The syntax is type(...)

In [ ]:
num_char = len(input("What is your name?"))
print(num_char)
type(num_char)

What is your name?Ali
3

int

#Type Conversion
str(converts to strings)
float
int

In [ ]:
num_char = len(input("What is your name?"))
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters.")

What is your name?Ali
Your name has 3 characters.

In [ ]:
a = 123
type(a)
print(float(a))
print(str(a))

123.0
123

#Exercise 1

In [ ]:
x = input("Enter a 2-digit number: ")
result = int(x[0]) + int(x[1])
print("The result is: " + str(result))

Enter a 2-digit number: 25
The result is: 7

#Operators

In [ ]:
print(3 + 7)
print(3 - 7)
print(3 * 7)
print(3 / 7)
print(type(6 / 2))
print(2**10)

10
-4
21
0.42857142857142855
<class 'float'>
1024

#Exercise 2

In [ ]:
h = input("Enter your height in m: ")
w = input("Enter your weight in kg: ")
bmi = float(w) / float(h)**2
bmi_int = int(bmi)
print("Your BMI is: " + str(bmi_int))

Enter your height in m: 1.75
Enter your weight in kg: 60
Your BMI is: 19

#Round/Floor a number

In [ ]:
print(8 / 3)
print(round(8 / 3))
print(round(8 / 3, 2))
print(8//3)

2.6666666666666665
3
2.67
2

#f-String

In [ ]:
score = 19
height = 1.8
print(f"Your score is {score}, your height is {height}")

Your score is 19, your height is 1.8

#Exercise 3

In [ ]:
age = input("Enter your current age")

year = 90 - int(age)
month = year * 12
week = year * 52
day = year * 365

print(f"You have {year} years, {month} months, {week} weeks, {day} days left.")

Enter your current age26
You have 64 years, 768 months, 3328 weeks, 23360 days left

#Exercise 4

In [ ]:
print("Welcome to the tip calulator!")
total_bill = input("What was the total bill? $")
percentage_tip = input("What percentage tip would you like to give? 10, 12 or 15? ")
number_of_people = input("How many people to split the bill? ")

cost = float(total_bill) + (float(total_bill) * int(percentage_tip) / 100)
share = cost / int(number_of_people)
share_rounded = round(share, 2)

print(f"Each person should pay: ${share_rounded}")

Welcome to the tip calulator!
What was the total bill? $120.56
What percentage tip would you like to give? 10, 12 or 15? 12
How many people to split the bill? 7
Each person should pay: $19.29